<%= form_with(model: waybill) do |form| %>
  <% if waybill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(waybill.errors.count, "error") %> prohibited this waybill from being saved:</h2>

      <ul>
        <% waybill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :driver_id %>
    <%= form.text_field :driver_id %>
  </div>

  <div class="field">
    <%= form.label :waybill_date %>
    <%= form.date_select :waybill_date %>
  </div>

  <div class="field">
    <%= form.label :mileage_at_morning %>
    <%= form.text_field :mileage_at_morning %>
  </div>

  <div class="field">
    <%= form.label :mileage_at_evening %>
    <%= form.text_field :mileage_at_evening %>
  </div>

  <div class="field">
    <%= form.label :mileage_daily %>
    <%= form.text_field :mileage_daily %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
