<p id="notice"><%= notice %></p>

<p>
  <strong>Driver name:</strong>
  <%= @driver.driver_name %>
</p>

<p>
  <strong>Driver car:</strong>
  <%= @driver.driver_car %>
</p>

<p>
  <strong>Driver license:</strong>
  <%= @driver.driver_license %>
</p>

<p>
  <strong>Driver phone:</strong>
  <%= @driver.driver_phone %>
</p>

<p>
  <strong>Driver reg number:</strong>
  <%= @driver.driver_reg_number %>
</p>

<p>
  <strong>Driver category:</strong>
  <%= @driver.driver_category %>
</p>

<p>
  <strong>Driver organization:</strong>
  <%= @driver.driver_organization %>
</p>

<p>
  <strong>Driver experience:</strong>
  <%= @driver.driver_experience %>
</p>

<p>
  <strong>Driver submission:</strong>
  <%= @driver.driver_submission %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
