<!DOCTYPE html>
<html>
  <head>
    <title>Waybills</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
     
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">

            <%= link_to 'Drivers', drivers_path, class: 'btn btn-sm btn-outline-secondary button-padding-navbar' %>
            <%= link_to 'Waybills', root_path, class: 'btn btn-sm btn-outline-secondary button-padding-navbar' %>
            <%= link_to 'Reports', root_path, class: 'btn btn-sm btn-outline-secondary button-padding-navbar' %>

          </form>
          <form class="form-inline my-2 my-lg-0">
            <%= link_to 'Settings', root_path, class: 'btn btn-outline-success my-2 my-sm-0 button-padding-navbar' %>
            <%= link_to 'Profile', root_path, class: 'btn btn-outline-success my-2 my-sm-0 button-padding-navbar' %>
          </form>
        </nav>
      
    </div>
    <div class="container">
      <%= yield %>
    </div>
      </body>
</html>
