<!DOCTYPE html>
<html>
  <head>
    <title>Waybills</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
<%= link_to 'RAR', root_path, class: 'btn btn-sm btn-outline-secondary button-padding-navbar' %>
          <button class="btn btn-sm btn-outline-secondary button-padding-navbar" type="button ">Drivers</button>
          <button class="btn btn-sm btn-outline-secondary button-padding-navbar" type="button">Waybills</button>
          <button class="btn btn-sm btn-outline-secondary button-padding-navbar" type="button">Reports</button>
      </form>
    </nav>
    <%= yield %>
  </body>
</html>
